<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum placeat consequatur cum provident odit nobis aliquam est quasi sint cupiditate in odio, iure culpa eligendi laudantium voluptatem rerum, velit iusto.</p>
    </div>
</div>